In [9]:
import pandas as pd
import sqlite3

In [24]:
cur = sqlite3.connect ('EmployeePoints.db')

In [25]:
cur.execute ('select * from EmployeePoints').fetchall ()

[('Маша', 5, '2020-01-01'),
 ('Петя', 4, '2020-01-01'),
 ('Вася', 3, '2020-01-01'),
 ('Саша', 4, '2020-01-01'),
 ('Маша', 4, '2020-01-02'),
 ('Петя', 4, '2020-01-02'),
 ('Вася', 4, '2020-01-02'),
 ('Саша', 5, '2020-01-02'),
 ('Маша', 5, '2020-01-03'),
 ('Петя', 3, '2020-01-03'),
 ('Вася', 2, '2020-01-03'),
 ('Саша', 5, '2020-01-03'),
 ('Маша', 3, '2020-01-04'),
 ('Петя', 3, '2020-01-04'),
 ('Вася', 3, '2020-01-04'),
 ('Саша', 3, '2020-01-04'),
 ('Максим', 2, '2020-01-04'),
 ('Маша', 5, '2020-01-05'),
 ('Петя', 3, '2020-01-05'),
 ('Вася', 3, '2020-01-05'),
 ('Саша', 3, '2020-01-05')]

In [27]:
#SELECT, который выводит список уникальных имен сотрудников
cur.execute("select distinct Employee from EmployeePoints").fetchall ()

[('Маша',), ('Петя',), ('Вася',), ('Саша',), ('Максим',)]

In [28]:
# SELECT, который выводит список сотрудников, упорядоченный по количеству полученных оценок "5", начиная с сотрудника, который получил их максимальное количество
cur.execute("select Employee, count(*) from EmployeePoints where Point = 5 group by Employee order by count(*) desc").fetchall()

[('Маша', 3), ('Саша', 2)]

In [29]:
#Конец